Model_Saves/*
Data/*
Cropped/*

__pycache__/*

Clonky-ok/*
Clonky-ok-filtered/*
Clonky-prototypy/*
Clonky-vadne/*
Clonky-vadne-full/*
Clonky-vadne-orig/*

Reconstructed/*
!Reconstructed/Error_Arrays/
