Model_Saves/*
Data/*
DataBigan/*
Cropped/*

__pycache__/*

Clonky-ok/*
Clonky-ok-2/*
Clonky-ok-filtered/*
Clonky-prototypy/*
Clonky-vadne/*
Clonky-vadne-full/*
Clonky-vadne-orig/*

Reconstructed/*
!Reconstructed/Error_Arrays/

test_bar*
